#features-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-color: #000000;
}

.feature {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.feature h2,
.feature p {
  color: #ffffff;
}

.icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@keyframes slideInOut {
  0% {
    left: 100%;
    opacity: 0;
  }
  25% {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
  75% {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

.show {
  animation: slideInOut 1.5s ease-in-out forwards;
}
